$color-header-bgc: #6061b6;
$color-nav-bgc: #3b3861;
$color-headeer-search: #dddddd;
$color-main-text: lighten($color-nav-bgc, 20%);
$color-traffic-menu: #43c27a;

canvas {
   max-width: 100vw;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   background: #222;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* border: 2px solid red; */
}

.grid-container {
   background-color: #fafafa;
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: min-max(0, 1fr);
   grid-auto-rows: 1fr 1fr 2fr;
   /* grid-gap: 2px; */
   grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "main main main main"
      "main main main main";
   max-width: 1450px;
}

/* --------------------------------------------------
  HEADER CONTENT - LOGO NAME, BELL, USER PROIFILE IMG
---------------------------------------------------- */
.main-header {
   grid-area: header;
   background-color: $color-header-bgc;
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.logo {
   font-size: 2.5rem;
   /*  font for logo - App of "YourApp" logo  */
   font-family: "Open Sans", sans-serif;
   font-weight: 100;
   color: lighten($color-header-bgc, 25%);
}

.logo-name-your {
   /*  Text in h1 span ("Your") of "YourApp"logo   */
   font-weight: 700;
}

sup {
   font-size: 15px;
   margin-left: 5px;
}

.notification-bell {
   width: 2.1rem;
   height: 2.1rem;
   fill: lighten($color-header-bgc, 20%);
}

.user-notification {
   margin: 15px 0;
   display: flex;
   align-items: center;
}

.profile {
   margin-left: 45px;
   display: flex;
   align-items: center;
   padding: 5px;
}

.profile-img {
   border-radius: 50%;
   width: 3.5rem;
   height: 3.5rem;
}

.user-name {
   margin-left: 10px;
   color: lighten($color-header-bgc, 25%);

   font-size: 1.3rem;
}

/* ---------------> HEADER CONTENT ENDS <---- */

/* --------------------------------------------------
                    NAVIGATION
--------------------------------------------------- */

.nav {
   grid-area: nav;
   background-color: $color-nav-bgc;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.nav-icons {
   width: 3.5rem;
   height: 3.5rem;
}

.nav-icons:hover {
   filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(2);
}

/* ---------------> NAV CONTENT ENDS <---- */

/* --------------------------------------------------
                    MAIN CONTENT
--------------------------------------------------- */

main {
   grid-area: main;
}

.main-content-header {
   height: 130px;
   padding-top: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dash-title {
   margin-right: 40px;
   margin-left: 25px;
   font-size: 2rem;
   color: $color-header-bgc;
}

.header-search-container {
   width: 100%;
   height: 100%;
   background-color: lighten($color-headeer-search, 8%);
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.header-search-container i {
   position: absolute;
}

.icon {
   padding: 10px;
   color: lighten($color-header-bgc, 10%);
   width: 40px;
   height: 40px;
}

.input-field i {
   position: absolute;
}

.input-field {
   width: 100%;

   height: 45px;
   padding: 10px;
}

/* ================ ALERT BAR ============= */

.alert-container {
   width: 100%;
   height: 100px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.alert-bar {
   width: 100%;
   background-color: #6061b6;
   color: white;
   padding: 8px 0;
   padding-left: 10px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.2rem;
}

.span-alert {
   margin-right: 10px;
   color: white;
}

.alert-message {
   color: lighten($color-header-bgc, 35%);
}

.close-alert {
   cursor: pointer;
   padding: 12px;
}

/* ---------------> MAIN CONTENT ENDS <---- */

/* --------------------------------------------------
                   TRAFFIC LINE CHART
  -------------------------------------------------- */
.traffic-section {
   display: flex;
   flex-direction: column;
}

.header-traffic {
   width: 100%;
   padding: 10px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   //  border: 2px solid red;
}

.title-traffic {
   font-size: 1.3rem;
}

.menu-traffic {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.title-traffic,
.li-traffic {
   color: $color-main-text;
}

.li-traffic {
   //  margin-right: 35px;
   font-size: 1.6rem;
   padding: 6px 15px;
   border-radius: 25px;
}

.li-traffic:hover {
   background-color: $color-traffic-menu;
   color: white;
}

.traffic-chart-container {
   padding-left: 10px;
   border: 2px solid red;
}

/* --------------------------------------------------
                   MEDIA QUERIES
  -------------------------------------------------- */

@media screen and (min-width: 768px) {
   .grid-container {
      grid-template-columns: 155px repeat(3, 1fr);
      grid-auto-rows: 120px 1fr;
      grid-template-areas:
         "header header header header"
         "nav main main main"
         "nav main main main"
         "nav main main main"
         "nav main main main";
   }

   .main-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 30px;
   }

   .nav {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 60px;
   }

   .nav-icons {
      margin-bottom: 60px;
   }

   //  main content header
   .main-content-header {
      padding-top: 0;
      height: 100px;
      flex-direction: row;
      justify-content: space-around;
   }

   .header-search-container {
      padding-right: 25px;
   }

   .input-field {
      max-width: 400px;
      height: 45px;
      padding: 10px;
   }

   .alert-bar {
      width: 96%;
   }

   .header-traffic {
      width: 100%;
      flex-direction: row;

      justify-content: space-between;
   }

   .title-traffic {
      margin-left: 15px;
   }

   .menu-traffic {
      flex-wrap: nowrap;
   }

   .li-traffic {
      // margin-left: 5px;
   }

   .traffic-chart-container {
      height: 350px !important;
   }
}

@media screen and (min-width: 1024px) {
   .input-field {
      width: 500px;
   }

   .traffic-chart-container {
      height: 350px !important;
   }
}
